.vscode/**
.vscode-test/**
.github/**
src/**
out/test/**
examples/**
docs/**
images/make-icon.mjs
ROADMAP.md
CONTRIBUTING.md
.gitignore
.editorconfig
tsconfig.json
eslint.config.mjs
**/*.map
**/*.ts
**/.eslintrc*
